app/nifi/kafka-tests.json
{"flowContents":{"identifier":"114362bb-7fef-396f-91d0-e92e0ab8f837","instanceIdentifier":"438636c6-0191-1000-7952-f504462ce26d","name":"kafka-tests","comments":"","position":{"x":523.0,"y":241.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"75729e34-e06c-328a-b424-79bf16052720","instanceIdentifier":"4389083c-0191-1000-b672-6f47c7b8b8e5","name":"PublishKafka_2_6","comments":"","position":{"x":1416.0,"y":208.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.27.0"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"kafka-cluster-kafka-bootstrap:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"true","acks":"all","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"nifi-output-topic","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"114362bb-7fef-396f-91d0-e92e0ab8f837"},{"identifier":"8c64386b-8380-32fa-b4fd-bf53b2d6fec5","instanceIdentifier":"4386bd8f-0191-1000-1e52-73064d064146","name":"ExecuteScript","comments":"","position":{"x":872.0,"y":208.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.27.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.nifi.processor.io.StreamCallback\nimport groovy.json.JsonOutput\nimport java.time.LocalDateTime\nimport java.time.format.DateTimeFormatter\nimport java.util.concurrent.ThreadLocalRandom\n\nclass GenerateRandomDataCallback implements StreamCallback {\n\tdef ceps = [\n\t\t\"01001-000\", \"01310-000\", \"01415-000\", \"01519-000\", \"02011-000\",\n\t\t\"02222-000\", \"03009-000\", \"03320-000\", \"04002-000\", \"04510-000\",\n\t\t\"05017-000\", \"05508-000\", \"06013-000\", \"07074-000\", \"08050-000\",\n\t\t\"08121-000\", \"09015-000\", \"09210-000\", \"09510-000\", \"09710-000\",\n\t\t\"11015-000\", \"11410-000\", \"13010-000\", \"14020-000\", \"15015-000\",\n\t\t\"16015-000\", \"17012-000\", \"18010-000\", \"19010-000\", \"20040-000\",\n\t\t\"20500-000\", \"21010-000\", \"22020-000\", \"23010-000\", \"24010-000\",\n\t\t\"26010-000\", \"28010-000\", \"30010-000\", \"31010-000\", \"32010-000\",\n\t\t\"35010-000\", \"36010-000\", \"37010-000\", \"38010-000\", \"40010-000\",\n\t\t\"41010-000\", \"42010-000\", \"44010-000\", \"45010-000\", \"48010-000\",\n\t\t\"50010-000\", \"52010-000\", \"53010-000\", \"55010-000\", \"56010-000\",\n\t\t\"57010-000\", \"58010-000\", \"59010-000\", \"60010-000\", \"61010-000\",\n\t\t\"62010-000\", \"63010-000\", \"64010-000\", \"65010-000\", \"66010-000\",\n\t\t\"67010-000\", \"68010-000\", \"69010-000\", \"70010-000\", \"71010-000\",\n\t\t\"72010-000\", \"73010-000\", \"74010-000\", \"75010-000\", \"76010-000\",\n\t\t\"77010-000\", \"78010-000\", \"79010-000\", \"80010-000\", \"81010-000\",\n\t\t\"82010-000\", \"83010-000\", \"84010-000\", \"85010-000\", \"86010-000\",\n\t\t\"87010-000\", \"88010-000\", \"89010-000\", \"90010-000\", \"91010-000\",\n\t\t\"92010-000\", \"93010-000\", \"94010-000\", \"95010-000\", \"96010-000\",\n\t\t\"97010-000\", \"98010-000\", \"99010-000\", \"10010-000\", \"11010-000\",\n\t\t\"12010-000\", \"13010-000\", \"14010-000\", \"15010-000\", \"16010-000\",\n\t\t\"17010-000\", \"18010-000\", \"19010-000\", \"20010-000\", \"21010-000\",\n\t\t\"22010-000\", \"23010-000\", \"24010-000\", \"25010-000\", \"26010-000\",\n\t\t\"27010-000\", \"28010-000\", \"29010-000\", \"30010-000\", \"31010-000\"\n\t]\n\n\tdef cardFlags = [\"Visa\", \"MasterCard\", \"Elo\", \"Amex\", \"Hipercard\"]\n\n\tRandom random = new Random()\n\n\tString getRandomCep() {\n\t\treturn ceps[random.nextInt(ceps.size())]\n\t}\n\n\tString getRandomCardFlag() {\n\t\treturn cardFlags[random.nextInt(cardFlags.size())]\n\t}\n\n\tdouble getRandomValue() {\n\t\treturn Math.round((50 + (5000 - 50) * random.nextDouble()) * 100.0) / 100.0\n\t}\n\n\tString getRandomTimestamp() {\n\t\tLocalDateTime end = LocalDateTime.now()\n\t\tLocalDateTime start = end.minusMonths(2)\n\t\tlong startEpoch = start.toEpochSecond(java.time.ZoneOffset.UTC)\n\t\tlong endEpoch = end.toEpochSecond(java.time.ZoneOffset.UTC)\n\n\t\tlong randomEpoch = ThreadLocalRandom.current().nextLong(startEpoch, endEpoch)\n\t\tLocalDateTime randomDate = LocalDateTime.ofEpochSecond(randomEpoch, 0, java.time.ZoneOffset.UTC)\n\n\t\treturn randomDate.format(DateTimeFormatter.ofPattern(\"yyyy-MM-dd HH:mm:ss\"))\n\t}\n\n\t@Override\n\tvoid process(InputStream inputStream, OutputStream outputStream) throws IOException {\n\t\tdef data = [\n\t\t\tcep: getRandomCep(),\n\t\t\tcardFlag: getRandomCardFlag(),\n\t\t\tvalue: getRandomValue(),\n\t\t\ttimestamp: getRandomTimestamp()\n\t\t]\n\n\t\tdef json = JsonOutput.toJson(data)\n\t\toutputStream.write(json.getBytes('UTF-8'))\n\t}\n}\n\nflowFile = session.get()\nif (flowFile != null) {\n\tflowFile = session.write(flowFile, new GenerateRandomDataCallback())\n\tsession.transfer(flowFile, REL_SUCCESS)\n}\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"114362bb-7fef-396f-91d0-e92e0ab8f837"},{"identifier":"75bd8beb-dbf1-3a01-b187-7f028038ac03","instanceIdentifier":"00b8b1ea-9048-3e37-9797-fba4956dbf3a","name":"GenerateRecord","comments":"","position":{"x":200.0,"y":208.0},"type":"org.apache.nifi.processors.standard.GenerateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"nullable-fields":"false","number-of-records":"100","record-writer":"4e120b71-6540-3faa-b9e1-59a3cbe69154","schema-text":"{\n\t\"type\": \"record\",\n\t\"name\": \"Employee\",\n\t\"namespace\": \"com.example\",\n\t\"fields\": [\n\t\t{\n\t\t\t\"name\": \"id\",\n\t\t\t\"type\": \"int\"\n\t\t}\n\t]\n}","null-percentage":"0"},"propertyDescriptors":{"nullable-fields":{"name":"nullable-fields","displayName":"Nullable Fields","identifiesControllerService":false,"sensitive":false},"number-of-records":{"name":"number-of-records","displayName":"Number of Records","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"null-percentage":{"name":"null-percentage","displayName":"Null Value Percentage","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"114362bb-7fef-396f-91d0-e92e0ab8f837"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"e73bfaf0-a40f-385e-8b3b-082979832fd6","instanceIdentifier":"4387c7ea-0191-1000-29e1-c17a441122de","name":"","source":{"id":"75bd8beb-dbf1-3a01-b187-7f028038ac03","type":"PROCESSOR","groupId":"114362bb-7fef-396f-91d0-e92e0ab8f837","name":"GenerateRecord","comments":"","instanceIdentifier":"00b8b1ea-9048-3e37-9797-fba4956dbf3a"},"destination":{"id":"8c64386b-8380-32fa-b4fd-bf53b2d6fec5","type":"PROCESSOR","groupId":"114362bb-7fef-396f-91d0-e92e0ab8f837","name":"ExecuteScript","comments":"","instanceIdentifier":"4386bd8f-0191-1000-1e52-73064d064146"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"114362bb-7fef-396f-91d0-e92e0ab8f837"},{"identifier":"f0ed6c02-8545-3b7d-bafd-3e6cfd6cd172","instanceIdentifier":"43892f85-0191-1000-1aa8-1d2f774fe4de","name":"","source":{"id":"8c64386b-8380-32fa-b4fd-bf53b2d6fec5","type":"PROCESSOR","groupId":"114362bb-7fef-396f-91d0-e92e0ab8f837","name":"ExecuteScript","comments":"","instanceIdentifier":"4386bd8f-0191-1000-1e52-73064d064146"},"destination":{"id":"75729e34-e06c-328a-b424-79bf16052720","type":"PROCESSOR","groupId":"114362bb-7fef-396f-91d0-e92e0ab8f837","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"4389083c-0191-1000-b672-6f47c7b8b8e5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"114362bb-7fef-396f-91d0-e92e0ab8f837"},{"identifier":"dab7c986-7919-3f7f-9f4f-a25cf07f187d","instanceIdentifier":"43900d66-0191-1000-f91b-8453de140c0d","name":"","source":{"id":"75729e34-e06c-328a-b424-79bf16052720","type":"PROCESSOR","groupId":"114362bb-7fef-396f-91d0-e92e0ab8f837","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"4389083c-0191-1000-b672-6f47c7b8b8e5"},"destination":{"id":"75729e34-e06c-328a-b424-79bf16052720","type":"PROCESSOR","groupId":"114362bb-7fef-396f-91d0-e92e0ab8f837","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"4389083c-0191-1000-b672-6f47c7b8b8e5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1885.0,"y":247.0},{"x":1885.0,"y":297.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"114362bb-7fef-396f-91d0-e92e0ab8f837"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"4e120b71-6540-3faa-b9e1-59a3cbe69154","instanceIdentifier":"438c79be-0191-1000-34fb-317087e8f7db","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.27.0"},"properties":{"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.27.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"114362bb-7fef-396f-91d0-e92e0ab8f837"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}